version: '3'
services:
    nginx:
        build:
          context: .
          args:
          - TIME_ZONE=Europe/Minsk
        hostname: nginx
        # restart: always
        container_name: nginx
        volumes:
            - ../certificates:/etc/nginx/certificates/
            - ./nginx/services:/etc/nginx/outside
            - ../letsencrypt_logs:/var/log/letsencrypt/
        ports:
            - "80:80"
            - "443:443"
        environment:
            - HOSTNAMES=docker.arateg.by,docker2.arateg.by
            - EMAIL=v.arykau@arateg.by
